.header-top {
    height: 50px;
}

.header-top img {
    width: 100%;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 80px;
}

.header-bottom__left {
    display: flex;
    align-items: center;
}

.header-bottom__left-hambur i {
    font-size: 1.5rem;
    color: white;
}

.header-bottom__left-logo {
    width: 180px;
    margin: 0 20px;
}

.header-bottom__left-logo img {
    width: 100%;
}

.header-bottom__center {
    flex: 1;
}

.header-bottom__center-search-demo {
    margin: 3px 0;
}

.header-bottom__center-search-demo .search-demo__list {
    display: flex;
    align-items: center;
}

.header-bottom__center-search-demo .search-demo__item {
    margin-right: 0.75rem;
}

.search-demo__item a {
    color: white;
    font-size: 12px;
}

.header-bottom__center-search-form {
    display: flex;
    align-items: center;
}

.search-form__input {
    height: 36px;
    flex: 1;
}

.search-form__input input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin: 0;
    border: none;
}

.search-form__input input:focus {
    outline: none;
}

.search-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 36px;
    background-color: var(--tertiary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.search-form__btn i {
    font-size: 1.5rem;
}

.header-bottom__right {
    flex: 1;
}

.header-bottom__right-list {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.header-bottom__right-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.header-bottom__right-item:hover .login-box {
    display: block;
}

.header-bottom__right-item-icon {
    font-size: 1.5rem;
    margin: 0 1rem;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-bottom__right-item-icon:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50%;
}

.header-bottom__right-item-text {
    color: white;
}

.header-bar__list {
    display: flex;
    padding: 7px 0;
    background-color: var(--secondary-color);
}

.header-bar__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.header-bar__item.border {
    border: 1px solid var(--primary-color);
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
}

.header-bar__item:last-child {
    margin: 0;
}

.header-bar__item > a {
    color: var(--primary-color);
}

.header-bar__item > a > i {
    margin-right: 3px;
}